.form-container{
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 2px 14px;
  align-items: center;
}
input{
  margin-bottom: 10px;

}
h1{
  color: #2691d9;
  text-align: center;
  margin: 20px 8px;
}
button{
  background-color:  #2691d9;
  color: white;
  margin: 5px;
}
.example-chip-list {
  width: 100%;
}
